body{
	background: rgb(17,19,47);
	color: #fff;
}

div{
	width: 100%;
	margin: 0 auto;
}

h1,h3,img,a{
	width: 300px;
	height: auto;
	margin: auto; 
	text-align: center;
	display: block;
}

h1{
	margin-top: 10%;
	font-size: 100px;
}

h3{
	font-family: Arial ;
}

button{
	color: #fff;
	margin-top: 70px;
	background: transparent;
	padding: 10px 20px;
}

